.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo


#quartz specific stuff
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
.quartz-cache

#.obsidian (for my boy sander)
content/.obsidian/workspace.json
.obsidian/cache/
.obsidian/workspace.json
.obsidian/updates.json

#my mods
docs/
.stversions
.stfolder
.trash
content/.obsidian/plugins/remember-cursor-position/cursor-positions.json
/home/void/repositories/deanlemans.github.io/content/.obsidian/plugins/remember-cursor-position/cursor-positions.json
cursor-positions.json
/content/.obsidian/plugins/remember-cursor-position/cursor-positions.json
/content/.obsidian/graph.json
