@use "./base.scss";
@use "themes";

hr {
  margin: 2em auto !important;
  border: none !important;
  text-align: center !important;

  &:after {
    content: "* * *" !important;
    display: inline-block !important;
    margin-top: -1em !important;
    font-size: 1.5em !important;
    padding: 0.5em 1em !important;
    color: var(--gray) !important;
  }
}
