@use "./base.scss";
@use "./themes";

hr {
  margin: 2em auto !important;
  border: none !important;
  text-align: center !important;
  background-color: transparent !important;
  height: auto !important;

  &:after {
    content: "* * * * * *";
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.5em;
    line-height: 1;
  }
}
